<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kids Learning (Age 6)</title>
</head> 
<style> 
    b{
        text-align: center;
        font-size: 30px;
        color: coral;
    }
    body{
    
        background-image: url("C:/padma/PROJECT/HTML/sai ganesh/boy book.jpg");
        background-repeat: no-repeat;
        background-size:contain;
        background-position:left;
    
        float: right;
         background-color:cornsilk;
    }
    video{
        border-radius: 5%;
        border:solid black;
        border-width: 5px;
    }
</style>
<body>

    <video width="700px" height="360px" controls>
        <source src="C:/padma/PROJECT/Videos_3-4age/ABC Phonics song.mp4" type="video/webm"> your browser does not support the video tag.
    </video>  <br/>
    <b>--ABC Phonics song for children</b>
    <br/>
    <video width="700px" height="360px" controls>
        <source src=" C:\padma\PROJECT\Videos_3-4age\alphabet song.mp4" type="video/mp4"> your browser does not support the video tag.
    </video> <br/>
      <b>--Alphabet song  for children</b>
       <br/>
</body>  
</html>